<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <!--// iconscout link //-->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!--// css link //-->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <form action="" method="post">
          <div class="heading">
            <h1>Welcome</h1>
            <span>sign in to your account</span>
          </div>
          <div class="msg">
            <p class="msg">
              <!-- Are you lost babygirl ? hold my torch let me guide you -->
            </p>
          </div>
          <div class="all-input">
            <div class="input">
              <label for="email">Email</label>
              <div class="icon">
                <i class="uil uil-envelope"></i>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Enter your email"
                />
              </div>
            </div>
            <div class="input">
              <label for="password">Password</label>
              <div class="icon">
                <i class="uil uil-lock"></i>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Enter your password"
                />
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="link">
              <a href="">Forgot password?</a>
            </div>
            <div class="btn-div">
              <input class="btn" type="submit" value="LOGIN" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
